<section class="main-container p-6 flex items-center justify-between border-t border-[#D5DEE7]">

    <div class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/video-circle.svg" alt="">

        <span class="SF-Bold text-[#7B277C] text-sm">Watch Now</span>

    </div>

    <div class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/search-normal.svg" alt="">

        <span class="SF-Bold text-[#6A798A] text-sm">Search</span>

    </div>

    <div class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/save.svg" alt="">

        <span class="SF-Bold text-[#6A798A] text-sm">My WatchList</span>

    </div>

    <div class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/ticket.svg" alt="">

        <span class="SF-Bold text-[#6A798A] text-sm">Tickets</span>

    </div>

    

</section>