<section class="main-container px-6 py-4 flex items-center justify-between border-t border-[#D5DEE7]">

    <div routerLink="/home/watch-now" routerLinkActive="activeItem"
     class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/video-circle.svg" alt="">

        <span class="SF-Bold tracking-tighter text-[#6A798A] text-sm">Watch Now</span>

        <div routerLinkActive="activeItem" class="line hidden w-2 rounded-md h-[1px] p-[0.1rem] bg-[#7B277C]"></div>

    </div>

    <div routerLink="/home/search" routerLinkActive="activeItem"
    class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/search-normal.svg" alt="">

        <span class="SF-Bold tracking-tighter text-[#6A798A] text-sm">Search</span>

        <div routerLinkActive="activeItem" class="line hidden w-2 rounded-md h-[1px] p-[0.1rem] bg-[#7B277C]"></div>

    </div>

    <div routerLink="/home/my-watchlist" routerLinkActive="activeItem"
     class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/save.svg" alt="">

        <span class="SF-Bold tracking-tighter text-[#6A798A] text-sm">My WatchList</span>

        <div routerLinkActive="activeItem" class="line hidden w-2 rounded-md h-[1px] p-[0.1rem] bg-[#7B277C]"></div>

    </div>

    <div routerLink="/home/tickets" routerLinkActive="activeItem" 
     class="nav-item flex flex-col items-center justify-center gap-1">

        <img src="/assets/svgs/ticket.svg" alt="">

        <span class="SF-Bold tracking-tighter text-[#6A798A] text-sm">Tickets</span>

        <div routerLinkActive="activeItem" class="line hidden w-2 rounded-md h-[1px] p-[0.1rem] bg-[#7B277C]"></div>

    </div>

    

</section>