<section class="main-container w-full bg-black px-4 py-6">
<div class="top-bar w-full flex items-center justify-between">
    <span class="SF-Bold text-2xl text-white tracking-tighter">Watch Now</span>

    <div class="right flex items-center gap-4">
        <div class="mute flex items-center justify-center w-10 h-10 rounded-full bg-[#B3BFCB33]">
            <img src="/assets/svgs/volume-slash.svg" alt="">
        </div>

        <div style="background-image: url('/assets/images/memoji.png');" class="profile bg-[#D8CFFC] w-10 h-10 rounded-full bg-center bg-cover bg-no-repeat">
        </div>

    </div>
</div>
</section>