<section class="main-container w-full relative px-4 py-10 h-[70%] bg-cover bg-center">

    <!-- <div class="layer absolute top-0 left-0 z-10 w-full h-full">

    </div> -->

    <!-- <div style="background-image: url('/assets/images/mea-culpa-3.png');" class="h-[100%] absolute top-0 left-0 w-full bg-center bg-contain bg-no-repeat">

    </div> -->

    <div class="w-full h-full flex flex-col items-center justify-between">
        <div class="top-bar relative z-50 w-full flex items-center justify-between">
            <span class="SF-Bold text-2xl text-white tracking-tighter">Watch Now</span>
    
            <div class="right flex items-center gap-4">
                <div class="mute flex items-center justify-center w-10 h-10 rounded-full bg-[#B3BFCB33]">
                    <img src="/assets/svgs/volume-slash.svg" alt="">
                </div>
    
                <div style="background-image: url('/assets/images/memoji.png');"
                    class="profile bg-[#D8CFFC] w-10 h-10 rounded-full bg-center bg-cover bg-no-repeat">
                </div>
    
            </div>
        </div>
    
        <div class="movie-info relative z-50 w-full flex flex-col items-center justify-center gap-3">

            <img class="w-72" src="/assets/svgs/titles/mea-culpa.svg" alt="">

            <div class="flex items-center justify-center gap-2">
                <span class="Inter-Medium text-xs tracking-tighter text-[#7A7A7A]">Drama</span>

                <div class="dot w-1 h-1 bg-[#7A7A7A] rounded-full"></div>

                <span class="Inter-Medium text-xs tracking-tighter text-[#7A7A7A]">Crime Fiction</span>

                <div class="dot w-1 h-1 bg-[#7A7A7A] rounded-full"></div>


                <div class="age-rating border-[0.5px] border-[#7A7A7A] rounded-[0.25rem] px-1 flex items-center justify-center">
                    <span class="Inter-Medium text-xs tracking-tighter text-[#7A7A7A]">18+</span>
                </div>
            </div>

            <span class="snippet SF-Regular text-center text-white text-sm tracking-tighter">A criminal defense attorney takes on the case of a seductive artist accused of murdering his girlfriend.</span>
    
            <div class="button-group w-4/5 grid grid-cols-4 gap-4">
                <button class="tickets col-span-3 bg-white px-4 py-3 SF-Medium tracking-tighter text-[#292D32] rounded-lg">Buy Tickets</button>
                <button class="tickets col-span-1 bg-[#B3BFCB33] px-4 py-3 rounded-lg flex items-center justify-center">
                    <img src="/assets/svgs/plus.svg" alt="">
                </button>

            </div>
        </div>
    </div>

    

</section>