.main-container{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.47%, #000 99.92%), url(/assets/images/mea-culpa.jpg) lightgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}